<!DOCTYPE html>
<html lang="en">
<head>  
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Introduction to Django</title>
    {% load static %}
    <link rel="stylesheet" href="{% static "css/django-style.css" %}">
</head>
<body>
    <header>
        <h1>Welcome to Django</h1>
        <p>Django is a high-level Python web framework that encourages rapid development and clean, pragmatic design.</p>
    </header>
    <section style="text-align:center" class="content">
        <h2>Key Features of Django:</h2>
        <ul>
            <li>Model-View-Controller (MVC) architecture</li>
            <li>ORM (Object-Relational Mapping)</li>
            <li>Admin interface for managing data</li>
            <li>URL routing and views</li>
            <li>Template system</li>
        </ul>    
        <br><a href="{% url "add" %}"><img src="https://www.hindustantimes.com/ht-img/img/2023/08/26/1600x900/salaar_1693043688109_1693043688289.jpeg" width="400px" alt="Prabhas"></a> 
        <br><br><br><a href="{% url "testing" %}"> Redirect to new page </a>
    </section>
    <footer>
        <p>Learn more at <a href="https://www.djangoproject.com/">Django Official Website</a></p>
    </footer>
</body>
</html>
