{% extends "base.html" %}

{% block content %}
<br><br>
    <form method='POST'>
        {% csrf_token %}
        <label for="username">Username: </label>
        <input type="text" id="username" name="username"><br><br>
        <label for="mobile">Mobile: </label>
        <input type="number" id="mobile" name="mobile"><br><br>
        <label for="empID">Employee ID: </label>
        <input type="text" id="empID" name="empID"><br><br>
        <label for="password">Password: </label>
        <input type="password" id="password" name="password"><br><br>
        <label for="confirm_password"> Confirm Password :</label>
        <input type="password" id="confirm_password" name="confirm_password"><br><br>
        <input type="submit" value="Register">
        <button type="submit">Register</button>
    </form>

    {% include "messages.html" %}

{% endblock content %}



