
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1> Testing... </h1><br><br>

    {% for record in records  %}
    
    <h1>  {{record.pub_date}} + {{record.product_type}}  </h1>

    <img src="/media/{{record.image}}" alt="Alt">

    <video src="/media/{{record.video}}" controls> </video>
    
    {% endfor %}

</body>
</html>


<html xmlns="http://www.w3.org/1999/xhtml"></html>




